.input-title {
  font-weight: 700;
}

.display-cv {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;

  width: 600px;
  min-height: 90vh;
  margin: 16px auto;
  background-color: white;

  border: 1px solid black;
  padding: 16px 32px;
  border-radius: 5px;
}

.general-info-container > h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 2rem;
}

.general-info-container {
  margin-bottom: 1rem;
}

.general-info-cv {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.email,
.tel,
.linkedin,
.github,
.loc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.email,
.tel,
.linkedin {
  padding-right: 6px;
  border-right: 1px solid rgba(0, 0, 0, 0.548);
}

.data-cv {
  margin-left: 6px;
}

.general-info-cv,
.linkedin {
  font-size: 0.75rem;
}

.devicon-linkedin-plain,
.devicon-github-plain {
  font-size: 1.2rem;
}

h1,
h2 {
  text-transform: uppercase;
}

.education-cv,
.experience-cv {
  width: 100%;
  text-align: left;
  margin: 0;
}

.add-margin-bottom {
  margin-bottom: 16px;
}

.cv-container {
  display: flex;
  margin: 0;
}

.cv-container > span:nth-of-type(2) {
  flex: 1;
  text-align: right;
}

.missing-details {
  text-align: center;
}

h2 {
  padding: 1px 0;
  width: 100%;
  text-align: left;
  font-size: 1.2rem;

  border-bottom: 1px solid black;
}

hr {
  margin-top: 4px;
}

.work-responsibility {
  margin-top: 4px;
  margin-left: 32px;
}

@media (min-width: 2000px) {
  .display-cv {
    width: 720px;
  }
}
