.input-title {
  font-weight: 700;
}

.display-cv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  width: 600px;
  margin: 16px auto;
  background-color: white;

  border: 1px solid black;
  padding: 16px 32px;
  border-radius: 5px;
}

.display-cv > p,
.display-cv > * > p {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px 0;
}

.display-cv p span {
  flex: 1;
}

.general-info-cv,
.education-cv,
.experience-cv {
  width: 100%;
}

.data-cv {
  text-align: right;
}

.missing-details {
  text-align: center;
}
