.general-info,
.education,
.work-experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

input,
textarea {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  border: 0px;
  border-left: 1px solid rgba(0, 0, 0, 0.288);
  border-bottom: 1px solid rgba(0, 0, 0, 0.288);
  border-radius: 5px;
  background-color: transparent;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 3px rgba(0, 120, 215, 0.5);
}

textarea {
  height: 60px;
  resize: none;
}

.section-submit,
.section-edit,
.section-remove {
  font-size: 16px;
  background-color: rgba(255, 255, 255, 0.212);
  border: 1px solid rgba(0, 0, 0, 0.219);

  transition: all 0.3s ease-in-out;
}

.section-submit:hover {
  cursor: pointer;
  box-shadow: 0 0 3px rgba(0, 120, 215, 0.5);
}

.section-submit:disabled {
  color: rgba(255, 255, 255, 0.514);
  cursor: default;
  background-color: rgba(255, 0, 0, 0.096);
  box-shadow: 0 0 0;
}

input,
textarea,
.section-submit,
.section-edit,
.section-remove {
  box-sizing: border-box;
  width: 320px;
  padding: 6px;
  border-radius: 5px;
}

.section-edit,
.section-remove {
  width: 160px;
}
